*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.content {
    background-color:#B53471;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: initial;
}
.box {
    width: 4em;
    height: 4em;
    background: #B53471 ;
    padding: 0.5em;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
    font-weight: 800;
    box-shadow: 3px 3px 9px #5e1b3a , -3px -3px 9px #e9559a;
    flex-wrap: wrap;
    position: relative;
}

.content img {
    width: 250px;
    position: absolute;
    left: 40px;
   top: 60px;
  
}
